<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.enghub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".viewbee1"></activity>
        <activity android:name=".bee1notes" />
        <activity android:name=".bee" />
        <activity android:name=".viewmech1" />
        <activity android:name=".mech1notes" />
        <activity android:name=".mechanics" />
        <activity android:name=".viewchem1" />
        <activity android:name=".chem1notes" />
        <activity android:name=".view_phy1" />
        <activity android:name=".phy1notes" />
        <activity android:name=".View_pdf_Files">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".em1notes" />
        <activity android:name=".chem1" />
        <activity android:name=".phy1" />
        <activity android:name=".em1" />
        <activity android:name=".compsem4" />
        <activity android:name=".compsem3" />
        <activity android:name=".sem2" />
        <activity android:name=".sem1" />
        <activity android:name=".elex" />
        <activity android:name=".cse" />
        <activity android:name=".fe" />
        <activity android:name=".branch_list" />
        <activity android:name=".signup" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>